
body{
    width: 100px;
    margin: auto;
    background: rgb(184, 247, 247);}
.container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap:30px;
    grid-template-columns: auto auto auto;
}
pre{
    /* display: block; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* white-space: pre; */
    /* text-align: center; */
}
.container > div:nth-of-type(1) {
    grid-column: 1 / 4;
}
p{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.in{
    border: 45px solid black;
}

